.input {
    width: 600px;
    border-radius: 20px;
    font-family: sans-serif;
    padding: 20px;
    border: none;
    color: black;
    background-color: aquamarine;
    font-size: 25px;
}

.button {
    border: none;
    padding: 25px;
    font-size: 25px;
    margin-top: 30px;
    background-color: burlywood;
    color: black;
    border-radius: 15px;
    box-shadow: 0 20px 25px -5px rgba(250, 234, 234, 0.954),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    transition: all 0.5s ease;
    margin-bottom: 60px;
}

.button:hover {
    background-color: white;
    color: red;
}
