.button {
    border: none;
    padding: 25px;
    font-size: 20px;
    background-color: burlywood;
    color: black;
    border-radius: 15px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-left: 10px;
    transition: all 0.5s ease;
    background-image: url(../../img/edit-edit-3.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.button:hover {
    background-color: white;
}

.button_delete {
    border: none;
    padding: 25px;
    font-size: 20px;
    background-color: burlywood;
    color: black;
    border-radius: 15px;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    margin-left: 10px;
    transition: all 0.5s ease;
    background-image: url(../../img/delete.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
}

.button_delete:hover {
    background-color: white;
}

.box {
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
        0 8px 10px -6px rgb(0 0 0 / 0.1);
    border-radius: 25px;
    padding: 20px;
    width: 700px;
    text-align: center;
    background-color: rgb(204, 207, 207);
    color: black;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;
    margin-bottom: 50px;
}

.box:hover {
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
    transform: translateY(-20%);
    background-color: wheat;
}

.title {
    font-size: 35px;
    color: rgb(245, 22, 22);
    font-family: sans-serif;
}
