.title {
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 40px;
    margin-bottom: 50px;
}

.box {
    margin-top: 100px;
    width: 800px;
    background-color: black;
    border-radius: 30px;
    padding: 35px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
